@use '../styles/tools' as *;

.title {
  margin: 14px 0 28px;
}
.tabs-wrap {
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  :global(.sb-tabs) {
    min-width: max-content;
  }
}
.filters {
  display: flex;
  gap: 8px;
  margin: 20px 0 28px;
  flex-wrap: wrap;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @include up(md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include up(xxl) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
